.container{
    display: block;
    max-width: 1400px;
    min-width: 300px;
    margin: 3em auto;
    width: 80%;
}

.payment-table{

    .row{
        padding: 10px;
        span, button{
                margin-right: 10px;
            }

    }
}